body {
  margin: 0;
}
h1 {
  text-align: center;
}
h2 {
  margin-bottom: 10px;
}
h2 + p {
  margin-top: 0;
}
.site-title {
  font-family: sans-serif;
  font-size: 60px;
}
.infobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  background-color: blue;
  color: white;
  box-sizing: border-box;
  box-shadow: 2px 3px 6px black;
}
.info-describe {
  font-size: 12px;
}
.info-number,
.info-describe {
  margin-bottom: auto;
}
.info-number {
  font-weight: bold;
  font-size: 20px;
}
@media (min-width: 600px) {
  .info-number {
    font-size: 24px;
  }
}
.banner {
  text-align: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.banner img {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  height: auto;
}
@media (min-width: 700px) {
  h1 {
    font-size: 50px;
  }
  .site-title {
    font-size: 100px;
  }
}
#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
}
.intro {
  margin: auto;
  font-family: serif;
  line-height: 1.4;
  font-size: 20px;
  padding: 10px;
}
@media (min-width: 1100px) {
  .intro {
    max-width: 50%;
    font-size: 24px;
  }
}
.face-wrapper img {
  width: 100%;
  display: block;
  height: auto;
}
@media (min-width: 320px) {
  .face-wrapper {
    width: 33.33%;
  }
}
@media (min-width: 425px) {
  .face-wrapper {
    width: 20%;
  }
}
@media (min-width: 600px) {
  .face-wrapper,
  .face-wrapper img {
    width: 128px;
    height: 128px;
  }
  .face-wrapper {
    padding: 30px;
  }
}
.highlight {
  background-color: #c4e9ff;
}
.info {
  text-align: center;
  font-size: 12px;
  color: #949494;
  margin-top: 2px;
}


#counter {
  text-align: center;
  width: 100%;
  background-color: white;
  font-weight: bold;
  font-size: 25px;
  padding: 10px 0;
  box-shadow: 0 0px 10px #0000004a;
  font-family: sans-serif;
}
#counter.fixed {
  position: fixed;
  bottom: 0;
}
@media (min-width: 600px) {
  #counter {
    font-size: 40px;
  }
}
